<div class="d-flex flex-wrap gap-2">
    <!-- @if (isDisconnected()) {
    <button class="btn btn-primary"
            (click)="connect()">
        Connect
    </button>
    }
    @if (isConnecting()) {
    <span>Connecting ...</span>
    }
    @if (isConnected()) {
    <span>Connected!</span>
    }
    @if (isReconnecting()) {
    <span>Reconnecting ...</span>
    } -->

    @switch (status()) {
    @case ('Disconnected') {
    <button class="btn btn-primary"
            (click)="connect()">
        Connect
    </button>
    }
    @case ('Connecting') { <span>Connecting ...</span> }
    @case ('Connected') { <span>Connected!</span> }
    @case ('Reconnecting') { <span>Reconnecting ...</span> }
    @case ('Disconnecting') { <span>Disconnecting ...</span> }
    @default { <span>Unknown status: {{status()}}</span> }
    }
</div>