<div class="container-fluid d-flex flex-column align-items-center g-0 gap-2">

    <div class="row w-100">
        <div class="col">
            <div class="d-flex flex-row gap-3 w-100 align-items-center justify-content-between">
                <div class="d-flex flex-row gap-1 align-items-baseline">
                    <figure class="m-0">
                        <blockquote class="blockquote m-0">
                            <b>{{name()}}</b>
                        </blockquote>
                        <figcaption class="blockquote-footer m-0">
                            <cite [title]="description()">{{description()}}</cite>
                        </figcaption>
                    </figure>
                </div>
                <ttt-chat-room-toolbar />
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="col">
            <ttt-chat-room-history />
        </div>
    </div>

    <div class="row w-100">
        <div class="col">
            <ttt-chat-room-sender />
        </div>
    </div>

</div>