<div class="container-fluidd d-flex flex-column flex-fill overflow-y-hidden align-items-stretch gap-2">

    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
            <ttt-chat-room-header />
        </div>
    </div>

    <div class="d-flex flex-row flex-fill overflow-y-hidden">
        <div class="d-flex flex-column flex-fill overflow-y-hidden">
            <ttt-chat-room-history />
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="d-flex flex-column flex-fill">
            <ttt-chat-room-sender />
        </div>
    </div>

</div>