@if (isToolbarVisible()) {
<div class="d-flex flex-row">
    <div class="d-flex flex-column">
        <ttt-chat-toolbar />
    </div>
</div>
}

@if (isRoomSelectorVisible()) {
<div class="d-flex flex-row flex-fill">
    <div class="d-flex flex-column flex-fill overflow-y-hidden align-items-center">
        <ttt-chat-room-selector />
    </div>
</div>
}

@if (isRoomVisible()) {
<div class="d-flex flex-row flex-fill overflow-y-hidden">
    <div class="d-flex flex-column flex-fill overflow-y-hidden">
        <ttt-chat-room />
    </div>
</div>
}