/* button::before {
  content: "\00a0";
} */
.cell {
  height: 48px;
  width: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  font-size: 1rem;
  font-weight: 500;

  background-color: rgb(56, 56, 56);
  border-color: #000;
  border-style: solid;
  border-width: 1px;

  &.locked {
    cursor: default;
  }

  &:not(.locked) {

    &:hover {
      background-color: rgb(72, 72, 72);
      border-color: #090909;
    }
  }

  &.winning {
    background-color: rgb(0, 145, 0);
    border-color: rgb(69, 219, 0);

    &:hover {
      background-color: rgb(0, 165, 0);
      border-color: rgb(75, 236, 0);
    }
  }
}