:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.d-flex-exp {
  flex-grow: 1;
}

.gap-1 {
  gap: 0.125rem;
}

.gap-2 {
  gap: 0.25rem;
}

.gap-3 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 100%;
  place-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

button {
  border-radius: 3px;
  border: 1px solid black;
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #202020;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
