:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgb(255, 255, 255);
  background-color: rgb(24, 24, 24);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-flex-wrap {
  flex-wrap: wrap;
}

.d-flex-exp {
  flex-grow: 1;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.gap-1 {
  gap: 0.125rem;
}

.gap-2 {
  gap: 0.25rem;
}

.gap-3 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.p-1 {
  padding: 0.125rem;
}

.p-2 {
  padding: 0.25rem;
}

.p-3 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.px-1 {
  padding-left: 0.125rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 0.25rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.m-1 {
  margin: 0.125rem;
}

.m-2 {
  margin: 0.25rem;
}

.m-3 {
  margin: 0.5rem;
}

.m-4 {
  margin: 1rem;
}

.mx-1 {
  margin-left: 0.125rem;
  margin-right: 1rem;
}

.mx-2 {
  margin-left: 0.25rem;
  margin-right: 1rem;
}

.mx-3 {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 100%;
  place-items: center;
  // width: 100%;
  // height: 100%;
  justify-content: center;
  align-items: stretch;
}

button {
  border-radius: 3px;
  border: 1px solid black;
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #202020;
  cursor: pointer;

  &:hover {
    border-color: #646cff;
  }
}

.wrap-panel {
  display: inline-flex;
  flex-flow: row wrap;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}