// @import './styles/bootstrap.scss';
// @use './styles/bootstrap-custom.scss';
// @use '/node_modules/bootstrap/scss/bootstrap.scss';
@import 'bootstrap/scss/bootstrap';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  // color: rgb(255, 255, 255);
  // background-color: rgb(24, 24, 24);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 100%;
  place-items: center;
  // width: 100%;
  // height: 100%;
  justify-content: center;
  align-items: stretch;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}