<form (ngSubmit)="onSubmit()">

  <div class="d-flex flex-column gap-2">

    <div class="d-flex flex-row flex-fill gap-3">
      <label for="username"
             class="col col-form-label">Email</label>
      <div class="col-*">
        <input id="username"
               type="email"
               placeholder="Username"
               class="form-control"
               [formField]="_form.username" />
      </div>
    </div>

    <div class="d-flex flex-row flex-fill gap-3">
      <label for="password"
             class="col col-form-label">Password</label>
      <div class="col-*">
        <input id="password"
               type="password"
               placeholder="Password"
               class="form-control"
               [formField]="_form.password">
      </div>
    </div>

    <div class="d-flex flex-column flex-fill">
      <button type="submit"
              class="btn btn-primary"
              [disabled]="_form().invalid() || _isSubmitting()">
        <span>Sign in</span>
      </button>
      @if (_error()) {
      <div class="text-danger mt-2 small">{{ _error() }}</div>
      }
    </div>

  </div>

</form>